<div class="container-fluid">
    <div class="row fbag">
      <div class="col-12 col-md-4">
        <h3>useful links</h3>
        <ul class="list-unstyled">
          <li><a href="">home</a></li>
          <li><a href="">contact</a></li>
          <li><a href="">privacy policy</a></li>
          <li><a href="">return policy</a></li>
          <li><a href="">terms & condition</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <img src="/img/APEX CODERS.png" alt="">
      </div>
      <div class="col-12 col-md-4">
        <h3>content information</h3>
        <ul class="list-unstyled">
          <li><i class="bi bi-envelope-fill"> info@apexcoders.com</i></li>
          <li><i class="bi bi-telephone-fill"> +234 9090909090</i></li>
          <li class="list-inline-item"><i class="bi bi-twitter"></i></li>
          <li class="list-inline-item"><i class="bi bi-facebook"></i></li>
          <li class="list-inline-item"><i class="bi bi-linkedin"></i></li>
          <li class="list-inline-item"><i class="bi bi-instagram"></i></li>
        </ul>
      </div>
    </div>
    <div class="row bg-black">
      <div class="col-12">
        <p class="text-capitalize text-center text-white">&copy; copyright 2023 | all right reserved</p>
      </div>
    </div>
  </div>
